.bts {
    position: relative;
    margin-bottom: 30px;
}
.bts1 {
    color: azure;
    margin-right: 150px;
    height: 65px;
    width: 190px;
    font-size: medium;
    font-weight: bolder;
    
}
.bts2 {
    color: azure;
    margin-right: 150px;
    height: 65px;
    width: 190px;
    font-size: medium;
    font-weight: bolder;
    
}
.bts3 {
    height: 65px;
    width: 190px;
    font-size: medium;
    font-weight: bolder;
}