.incoming {
  height: 45vh;
  margin: auto;
  margin-top: 0px;
  min-height: 300px;
}

.incoming-expanded {
  height: 90vh;
}

.task-reel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 82%;
  width: 97%;
  margin: auto;
  margin-top: 0px;
}

.box-title {
  margin-left: 5%;
}

@media only screen and (max-width: 900px) {
  .task-reel-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    /* scroll-padding-right: 2%; */
  }
}

@media only screen and (max-width: 950px) {
  .box-title {
    margin-left: 1%;
  }
}
