.incoming {
  height: 45vh;
  margin: auto;
}

.incoming-expanded {
  height: 90vh;
}

.task-reel-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 82%;
  width: 97%;
  margin: auto;
}

@media only screen and (max-width: 730px) {
  .incoming {
    overflow-x: scroll;
  }

  .task-reel-container {
    display: flex;
    justify-content: flex-start;
  }
}
