.form {
  height: 30px;
  margin: 7.5px 4px 7.5px 0px;
  padding: 0;
}
.brand {
  height: 50px;
}
.navbar-brand {
  width: 600px;
}

#page-title {
  padding-left: 0px;
  color: white;
  font-size: 2em;
  margin-bottom: 0;
}

#navbarSupportedContent {
  width: 300px;
}

#settings-icon {
  padding: 5px;
  color: white;
}

#profile-icon {
  padding: 5px;
}

#search-bar {
  height: 30px;
  width: 270px;
}

#navbarSupportedContent {
  width: 350px;
  height: 100%;
}

#navbar {
  height: 7vh;
  padding: 0;
}

@media (max-width: 900px) {
  #search-bar {
    display: none;
  }
}
