.part-container {
  width: 98vw;
  height: 93vh;
  border: solid 1px red;
}

.part-container-expanded {
  width: 95vw;
  height: 100%;
  height: 93vh;
}

@media only screen and (max-width: 800px) {
  .part-container {
    width: calc(100vw - 50px);
  }
}
