.box {
  position: fixed;

  /* backdrop-filter: blur(5px); */
  align-items: flex-start;
}

.expanded {
  width: calc(100vw - 200px);
  height: calc(100vh - 55px);
}

.non-expanded {
  width: calc(100vw - 50px);
  height: calc(100vh - 55px);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#main {
  background: white;
  width: 20%;
  min-width: 300px;
  height: auto;
  min-height: 150px;
  border-radius: 5px;
}

#profile-info {
  border-bottom: 0.5px solid lightgray;
}

#box-profile-icon {
  height: 30px;
  width: 30px;
  background-color: #d4f0f1;
  border-radius: 50%;
}

#box-profile-icon-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1040px) {
  .non-expanded {
    width: calc(100vw - 50px);
  }
  .expanded {
    width: calc(100vw - 50px);
  }
}
