.column {
  position: fixed;
}

.expanded {
  width: calc(100vw - 200px);
  height: calc(100vh - 55px);
}

.non-expanded {
  width: calc(100vw - 50px);
  height: calc(100vh - 55px);
}

#column-main {
  background: white;
  width: 18%;
  min-width: 225px;
  height: auto;
  min-height: 300px;
  border-radius: 5px;
}

#profile-icon-container {
  border-bottom: 1px solid lightgray;
}

#column-profile-icon {
  height: 125px;
  width: 125px;
  background-color: #d4f0f1;
  border-radius: 50%;
}

#column-profile-icon-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 300%;
}

@media only screen and (max-width: 1050px) {
  .non-expanded {
    width: calc(100vw - 50px);
  }
  .expanded {
    width: calc(100vw - 50px);
  }
}
