* {
  overflow-y: hidden;
}
.sidebar-extended {
  width: 200px;
  height: auto;
  background-color: #012323;
}

.sidebar {
  width: 50px;
  height: auto;
  background-color: #012323;
  
}

.icon-container-extended {
  color: white;
  padding: 3px;
}

.icon-container {
  color: white;
  padding: 3px;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 8px;
}

#arrow-expanded {
  color: white;
  font-size: 100px;
}

#arrow {
  color: white;
  font-size: 40px;
  padding-bottom: 10px;
}
