.task-reel {
  width: 26%;
  height: 100%;
  border-radius: 15px;
  margin: 0% 2% 0.5% 2%;
  /* min-height: 325px; */
}

.title {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.gray {
  background-color: rgb(187, 184, 184);
}

.yellow {
  background-color: rgb(248, 246, 106);
}

.green {
  background-color: rgb(117, 218, 117);
}

.task-box-container {
  overflow-y: scroll;
  height: 85%;
}

@media only screen and (max-width: 1050px) {
  .task-reel {
    min-width: 250px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
